@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent_primary: #007fff;
  --accent_secondary: #004C99;
  --neutral_dark: #262626;
  --neutral: #4c4c4c;
  --neutral_light: #909090;
  --vertical_navbar_size: 320px;
  --signin_size: 500px;
  --border_radius_outer: 20px;
  --border_radius_inner: 16px;
  --border: 1.5px solid var(var(--accent_primary));
  --border_visible: 1.5px solid var(var(--neutral));
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom CSS */

/* Loading Page */
.loading_screen {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* Sidebar */

.logo_sidebar {
  width: 100px;
  margin-left: 1em; 
}

.sidebar_vertical_container {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--vertical_navbar_size);
  height: 100%;
  padding-right: 0em;
  background: var(--background);
}

.sidebar_vertical {
  height: 100%;
  width: 100%;
  padding-top: 1em;
  background: var(--background);
  border-right: 3px solid var(--accent_secondary);
}

.sidebar_vertical_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0em;
  width: 100%;
  height: 88%;
}

.sidebar_vertical_button {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  color: var(--foreground);
  font-weight: 500;
  background: var(--background);
  border-radius: 0px;
}

.sidebar_vertical_button:hover {
  background: var(--neutral_dark);
}

.sidebar_vertical_bottom_button {
  width: 90%;
  position: absolute;
  bottom: 20em;
  background: var(--neutral_dark);
  border-radius: var(--border_radius_inner);
}

.sidebar_horizontal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #000000;
  z-index: 100;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  border-top: 1.5px solid var(--border_visible);
}

.sidebar_horizontal_button {
  width: auto;
  height: auto;
  padding: 0.7em;
  background-color: #000000;
}

/* Navbar */

.navbar_basic {
  background: var(--neutral_dark);
  width: 100%;
  height: 60px;
  padding: 0.5em;
  border-radius: var(--border_radius_outer);
}

/* Content Container */

.content_heading {
  width: calc(100% - 10px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content_heading_container {
  width: 100%;
  padding: 1em;
}

.content_container {
  position: fixed;
  top: 0;
  left: var(--vertical_navbar_size);
  height: 100%;
  width: calc(100% - var(--vertical_navbar_size));
  background-color: var(--background);
  color: var(--foreground);
  overflow-y: scroll;
}

.content_container_content {
  width: 100%;
  overflow: clip;
  border-top-left-radius: var(--border_radius_outer);
  border-top-right-radius: var(--border_radius_outer);
  border-top: 3px solid var(--accent_secondary);
  padding-top: 1em;
}

/* General Text */

.light {
  color: var(--neutral_light);
}

.heading {
  font-size: 24px;
  font-weight: bolder;
  color: var(--foreground);
}

.main_heading {
  font-size: 36px;
  font-weight: bolder;
  background: linear-gradient(to top, var(--accent_secondary), var(--accent_primary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.subheading {
  font-size: 24px;
  font-weight: bold;
  color: var(--neutral_light);
}

.secondary_heading {
  font-size: 18px;
  font-weight: bold;
}

.small_heading {
  font-size: 12px;
  font-weight: bold;
}

.story_text {
  font-size: 1em;
  color: var(--neutral_light);
}

/* Card Container */

.horizontal_preload_button_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_container {
  width: 100%;
  height: fit-content;
  padding: 1em;
}

.card_container_content_container {
  overflow-x: scroll;
}

.card_container_content {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 1em;
  flex-wrap: nowrap;
}

.card_container_description {
  background: var(--neutral_dark);
}

.card_container_heading {
  color: white;
  font-weight: bold;
  margin-bottom: 0.5em;
}

::-webkit-scrollbar {
  display: none;
}

/* Basic Card */

.basic_card {
  background: var(--neutral_dark);
  width: 300px;
  min-width: 300px;
  height: fit-content;
  float: none;
  display: inline-block;
  padding: 0em;
  border-radius: var(--border_radius_inner);
}

.basic_card_brief {
  background: #1f1f1f;
  width: 100%;
  height: fit-content;
  margin-right: 1em;
  float: none;
  display: inline-block;
  padding: 0em;
  border-radius: 20px;
}

.basic_card_text {
  text-wrap: wrap;
}

/* Snippet Card */

.snippet_card {
  background: var(--neutral_dark);
  width: fit-content;
  min-width: 200px;
  height: fit-content;
  float: none;
  display: inline-block;
  padding: 0em;
}

/* Home Carousel */

hr {
  border: 1.5px solid var(--neutral);
}

.swiper_container {
  width: 100%;
  margin: auto;
  height: 250px;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  height: 200px;
  position: relative;
  background: var(--background);
  border-radius: var(--border_radius_outer);
  color: var(--foreground);
  padding: 0.5em;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--foreground);
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.slider-controler .slider-arrow {
  background: var(--accent_secondary);
  color: var(--background);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

/* Sign In */

a {
  color: var(--accent_primary);
}

.sign_in_container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  display: flex;
  flex-direction: row;
}

.sign_in_graphic {
  width: calc(100% - var(--signin_size));
  height: 100%;
  background: url("https://firebasestorage.googleapis.com/v0/b/nous-news.appspot.com/o/assets%2Flogin_page_graphic.png?alt=media&token=eac0275d-94cf-4e48-abc3-f25d3ec9f154") center;
  background-size: cover;
}

.sign_in_content {
  background: var(--background);
  width: var(--signin_size);
  height: 100%;
  background: var(--background);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_in_providers {
  width: 100%;
  padding: 1em;
  padding-left: 0em;
  border: 3px solid var(--accent_secondary);
  border-radius: var(--border_radius_outer);
  background: var(--background);
}

.sign_in_call_to_action {
  margin-left: 1em;
}

.disclaimer_text {
  color: var(--neutral_light);
  margin-top: 0.7em;
}

.sign_in_button_google {
  width: 100%;
  height: 50px;
  margin-top: 0.5em;
  background: var(--foreground);
  color: var(--background);
  border-radius: var(--border_radius_inner);
  font-size: 18px;
  font-weight: bold;
}

/* News Story */
.story_text_container {
  background-color: var(--neutral_dark);
  color: var(--foreground);
  padding: 1em;
  border-radius: var(--border_radius_outer);
  margin: 1em;
  margin-top: 0em;
}

.story_text_metadata_container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  border-bottom: 3px solid var(--neutral_dark);
}

.story_width_full {
  width: 100%;
}

.story_text_metadata_item {
  width: calc(50% - 8px);
  color: var(--foreground);
  border-radius: var(--border_radius_inner);
  padding: 1em;
  border: 3px solid var(--neutral);
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}

.story_text_metadata_button {
  font-weight: bold;
  width: calc(50% - 8px);
  color: var(--foreground);
  border-radius: var(--border_radius_inner);
  padding: 1.8em;
  padding-left: 0em;
  padding-right: 0em;
  border: 3px solid var(--neutral);
  background: var(--background);
  font-size: 0.9em;
  box-sizing: border-box;
}

/* Snippet */

.total_snippet_card_container {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.snippet_card_container {
  overflow-y: auto;
  scroll-snap-type: y mandatory; 
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.snippet_end_card_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.snippet_end_card {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.snippet_feedback_container {
  padding: 1em;
  width: fit-content;
  border: 3px solid var(--neutral);
  margin-top: 1em;
  border-radius: var(--border_radius_inner);
}

.snippet_feedback_submit {
  width: 100%;
  margin-top: 1em;
}

.snippet_card_expanded {
  scroll-snap-align: start; 
  height: 100%;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
  border-radius: var(--border_radius_outer);
  position: relative;
  overflow: hidden;
  border: 3px solid var(--neutral_dark);
  -moz-box-shadow: inset 0 -10px 10px -10px var(--accent);
  -webkit-box-shadow: inset 0 -10px 10px -10px var(--accent);
  box-shadow: inset 0 -150px 200px -200px var(--accent);
}

.snippet_card_title {
  color: var(--foreground);
  border-radius: var(--border_radius_outer);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0.7em;
  padding-bottom: 1em;
  overflow: hidden;
  box-shadow: inset 0px -20px 30px 10px var(--background);
}

.snippet_card_summary {
  margin: 1em;
}

.snippet_card_metadata {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 1em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.snippet_starter {
  margin: auto;
  background: var(--background);
  border-radius: 20px;
  color: var(--neutral_light);
  border: 1.5px solid var(--border_visible);
  width: fit-content;
  padding: 0.5em;
  font-weight: bold;
}

.snippet_card_metadata_link {
  color: white;
  padding: 1em;
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid #1f1f1f;
  font-size: 0.8em;
}

.story_like_button {
  background-color: #d60000;
  border: 1px solid #1f1f1f;
}

/* Discussions */

.like_discussion_button {
  background: var(--neutral_dark);
  color: var(--neutral_light);
  border: 2px solid var(--background);
  font-weight: bold;
}

.discussion_card_container {
  padding: 1em;
  width: 100%;
  padding-bottom: 0em;
}

.discussions_extended_container {
  width: 100%;
  padding: 1em;
  padding-top: 0em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.pagination_button {
  margin: auto;
  border-radius: var(--border_radius_outer);
  background: var(--accent_primary);
  font-weight: bold;
  color: var(--background);
  margin-bottom: 1em;
}

.discussions_selection_header {
  position: sticky;
  margin-top: -1em;
  top: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  overflow-x: scroll;
  gap: 1em;
  z-index: 999;
}

.discussions_selection_tab {
  background: linear-gradient(45deg, var(--neutral_dark), var(--accent_secondary));
  color: var(--foreground);
  font-weight: bold;
  width: fit-content;
  text-wrap: nowrap;
  padding: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-radius: var(--border_radius_outer);
}

.discuss_modal {
  border-radius: var(--border_radius_outer);
  border: 3px solid var(--neutral_dark);
  background-color: black;
  color: white;
}

.discussion_text_area {
  width: 100%;
}

.discussion_text_area_posted {
  width: 100%;
}

.discussion_modal_body {
  margin-top: -1em;
  margin-bottom: -0.8em;
}

.discussion_card_container {
  width: 100%;
}

.discussion_text_container {
  text-overflow: wrap;
  color: rgb(197, 88, 88);
  width: 100px;
  height: fit-content;
  background: white;
}

.discussion_card {
  background: var(--background);
  width: 350px;
  min-width: 350px;
  height: fit-content;
  padding: 0em;
  border: 3px solid var(--neutral_dark);
  border-radius: var(--border_radius_outer);
}

.discussion_width_full {
  width: 100%;
}

.discussion_card_expanded {
  background: var(--background);
  width: 100%;
  height: fit-content;
  margin: auto;
  float: none;
  display: inline-block;
  padding: 0em;
  border: 3px solid var(--neutral_dark);
}

.discussion_reference_card {
  margin-top: 0.5em;
  width: 100%;
}

/* Comments */

.general_tooltip {
  background: var(--background);
  border: 1px solid var(--neutral_dark);
}

.comment_container {
  padding: 1em;
  padding-bottom: 0em;
}

.comments_container {
  width: 100%;
  padding: 1em;
  padding-top: 0em;
  border: 1.5px solid var(--border_visible);
  margin-top: 0.5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.like_comment_button {
  background: var(--background);
  color: var(--neutral_light);
  border: 2px solid var(--neutral_dark);
  font-weight: bold;
}

.comment_reply_button {
  background: var(--background);
  color: var(--neutral_light);
  border: 2px solid var(--neutral_dark);
  font-weight: bold;
}

.comment_card {
  background: var(--neutral_dark);
  border-radius: var(--border_radius_outer);
  width: 100%;
  min-width: 360px;
  height: fit-content;
  margin: auto;
  float: none;
  padding: 0em;
}

.comments_container_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment_post_button {
  margin-top: 0.25em;
}

/* Replies */

.reply_card {
  width: 100%;
  padding-left: 1em;
  border-left: 3px solid var(--neutral_dark);
  padding-top: 1em;
}

.reply_card_container {
  padding-left: 1.5em;
  width: 100%;
}

.replies_container {
  width: 100%;
  padding: 1em;
  padding-top: 0em;
  border: 1.5px solid var(--border_visible);
  border-radius: 10px;
}

.return_discussion {
  font-weight: bold;
  color: var(--neutral_light);
  background: var(--neutral_dark);
  border-radius: var(--border_radius_outer);
  margin-bottom: 1em;
}


/* Source */

.source_header_container {
  padding: 0em;
}

.source_header_banner {
  border-radius: 0em;
}

.source_follow_button {
  border-radius: var(--border_radius_outer);
  margin-top: 1em;
}

.source_header_metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid var(--neutral_dark);
  border-bottom: 3px solid var(--neutral_dark);
  padding-bottom: 1em;
}

.source_header_text {
  padding: 1em;
  padding-left: 1em;
  padding-bottom: 0em;
}

.source_follow_button_container {
  height: 75px;
  padding-top: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Trending Stories */

.trending_stories_container {
  width: 100%;
  padding: 1em;
}

.trending_stories {
  width: 100%;
  border: 3px solid var(--neutral_dark);
  padding: 1em;
  border-radius: var(--border_radius_outer);
}

.trending_stories_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 0.7em;
  column-gap: 0.7em;
}

.trending_stories_item {
  width: 100%;
  justify-content: left;
  align-content: left;
  background: var(--background);
  border-radius: var(--border_radius_inner);
  border: 3px solid var(--neutral);
  color: var(--foreground);
  padding: 1.5em;
}

.trending_stories_text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  font-size: 16px;
}

/* Search */

.primary_hit_content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--foreground);
  font-weight: bold;
}

.secondary_hit_content {
  display: flex;
  gap: 1em;
}

.secondary_hit_content > div {
  color: var(--neutral_light);
  display: flex;
  gap: 0.3em;
  font-weight: bold;
}

.search_button {
  padding: 0px;
  background: var(--neutral_dark);
  color: var(--neutral_light);
  border-radius: var(--border_radius_outer);
}

.hits_container {
  background: var(--foreground);
  height: 100%;
  overflow: scroll;
  width: 100%;
  display: flex;
}

.hit_component {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - var(--vertical_navbar_size));
  background: var(--background);
  border-top: 3px solid var(--neutral_dark);
  padding: 1em;
}

.search_input_container {
  width: 100%;
  padding: 1em;
  padding-bottom: 0px;
  padding-top: 0.5em;
}

.search_input {
  border-radius: var(--border_radius_inner);
  background: var(--neutral_dark);
  color: var(--foreground);
  padding: 0.5em;
  width: 100%;
  border: 2px solid var(--neutral);
  transition: 0.3s;
  outline: none;
}

.search_input:focus {
  border: 2px solid var(--accent_secondary);
}

.empty_search {
  padding: 1em;
  padding-top: 0em;
}

.empty_search > div {
  background: var(--neutral_dark);
  height: fit-content;
  padding: 1em;
  width: 100%;
  border-radius: var(--border_radius_inner);
}

.search_loader {
  width: fit-content;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Loader */
.loader {
  background: var(--neutral);
}

/* Recall */
.recall_summary_container {
  width: 100%;
  height: fit-content;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.recall_summary_item {
  width: calc(33.33333% - 0.75em);
  background: linear-gradient(45deg, var(--neutral_dark), var(--accent_secondary));
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  padding: 1em;
}

.recall_summary_item > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.recall_summary_item_title {
  font-size: 64px;
  font-weight: bold;
}

.recall_summary_item_caption {
  font-size: 16px;
  color: var(--neutral_light);
  font-weight: bold;
}

.recall_graphic_container {
  width: 100%;
  padding: 1em;
  padding-top: 0em;
}

.recall_graphic {
  width: 100%;
  height: 150px;
  border-radius: var(--border_radius_outer);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: var(--foreground);
  border: 3px solid var(--neutral_dark);
  background: center url("https://firebasestorage.googleapis.com/v0/b/nous-news.appspot.com/o/assets%2Frecall_graphic.png?alt=media&token=c811ff38-b37b-401c-bb5f-1bf2e54d5e18");
  background-size: cover;
}

.recall_text {
  background: var(--neutral_dark);
  border-bottom-left-radius: var(--border_radius_outer);
  border-bottom-right-radius: var(--border_radius_outer);
  padding: 1em;
}

/* Snippet Card Graphic */

.snippet_card_graphic_container {
  width: 100%;
  padding: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
}

.snippet_card_graphic {
  width: 100%;
  height: fit-content;
  background: center url("https://firebasestorage.googleapis.com/v0/b/nous-news.appspot.com/o/assets%2Fhome_graphic.png?alt=media&token=11cc62a6-f45c-4591-8177-8ffd55620cca");
  background-size: cover;
  border-radius: var(--border_radius_outer);
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.snippet_card_graphic > div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Terms Container */
.terms_container {
  width: 100%;
  max-width: 800px;
  background: var(--background);
  margin: auto;
  padding: 1em;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

ul {
  list-style-type: circle;
  color: white;
  row-gap: 1em;
  list-style-position: inside;
}

ul li {
  margin: 5px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .sidebar_vertical {
    display: none;
  }

  .discussion_card, .adaptable_card {
    width: 100%;
  }

  .hit_component {
    width: 100vw;
  }

  .sidebar_horizontal {
    display: flex;
  }

  .content_container {
    width: 100%;
    height: calc(100% - 70px);
    left: 0;
    bottom: 70px;
  }

  .sign_in_graphic {
    display: none;
  }
  
  .sign_in_content {
    background: url("https://firebasestorage.googleapis.com/v0/b/nous-news.appspot.com/o/assets%2Flogin_page_graphic.png?alt=media&token=eac0275d-94cf-4e48-abc3-f25d3ec9f154") center;
    background-size: cover;
    width: 100%;
  }

  .story_text_metadata_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  .swiper_container {
    height: 320px;
  }

  .home_carousel {
    padding: 0.7em;
  }

  .trending_stories_grid {
    grid-template-columns: auto;
  }

  .recall_summary_item {
    width: calc(50% - 0.5em);
  }

  .snippet_card_graphic {
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    gap: 1em;
  }

  .snippet_card_graphic > div {
    width: 100%;
  }

}